body {
  background-color: black;
  font-family: "Atkinson Hyperlegible", Arial, Helvetica, sans-serif;
  margin: 0; 
  padding: 1.5vw 1.4vw;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
}

.logo-row {
    width: 7vw;
    margin: 0 auto;
}

.logo {
    width:2.25%;
    padding: 1.5vw 1.6vw;
    text-align: center;
    float: right;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-size:1.7vw;
  padding: 1.5vw 1.4vw;
  text-decoration: none;
}

li a:hover {
  color: #24ff59ff;
}

footer {
  font-size:1.35vw;
  text-align: center;
  padding: 1.5vw 1.4vw;
  color: grey;
